<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.cyrillic</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Bulgarian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.bulgarian</string>
		<key>TISIntendedLanguage</key>
		<string>bg</string>
	</dict>
	<key>KLInfo_Bulgarian - Phonetic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.bulgarian-phonetic</string>
		<key>TISIntendedLanguage</key>
		<string>bg</string>
	</dict>
	<key>KLInfo_Byelorussian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.byelorussian</string>
		<key>TISIntendedLanguage</key>
		<string>be</string>
	</dict>
	<key>KLInfo_Macedonian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.macedonian</string>
		<key>TISIntendedLanguage</key>
		<string>mk</string>
	</dict>
	<key>KLInfo_Russian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.russian</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_Russian - Phonetic</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.russian-phonetic</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_Serbian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.serbian</string>
		<key>TISIntendedLanguage</key>
		<string>sr</string>
	</dict>
	<key>KLInfo_Ukrainian</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.cyrillic.ukrainian</string>
		<key>TISIntendedLanguage</key>
		<string>uk</string>
	</dict>
</dict>
</plist>
