<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.roman</string>
	<key>CFBundleName</key>
	<string>Roman</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Australian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.australian</string>
		<key>TISIntendedLanguage</key>
		<string>en-AU</string>
	</dict>
	<key>KLInfo_Austrian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.austrian</string>
		<key>TISIntendedLanguage</key>
		<string>de-AT</string>
	</dict>
	<key>KLInfo_Belgian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.belgian</string>
		<key>TISIntendedLanguage</key>
		<string>fr-BE</string>
	</dict>
	<key>KLInfo_Brazilian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.brazilian</string>
		<key>TISIntendedLanguage</key>
		<string>pt-BR</string>
	</dict>
	<key>KLInfo_British</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.british</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Canadian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.canadian</string>
		<key>TISIntendedLanguage</key>
		<string>en-CA</string>
	</dict>
	<key>KLInfo_Canadian - CSA</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.canadian-csa</string>
		<key>TISIntendedLanguage</key>
		<string>fr-CA</string>
	</dict>
	<key>KLInfo_Danish</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.danish</string>
		<key>TISIntendedLanguage</key>
		<string>da</string>
	</dict>
	<key>KLInfo_Dutch</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.dutch</string>
		<key>TISIntendedLanguage</key>
		<string>nl</string>
	</dict>
	<key>KLInfo_Finnish</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.finnish</string>
		<key>TISIntendedLanguage</key>
		<string>fi</string>
	</dict>
	<key>KLInfo_French</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.french</string>
		<key>TISIntendedLanguage</key>
		<string>fr</string>
	</dict>
	<key>KLInfo_French - numerical</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.french-numerical</string>
		<key>TISIntendedLanguage</key>
		<string>fr</string>
	</dict>
	<key>KLInfo_German</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.german</string>
		<key>TISIntendedLanguage</key>
		<string>de</string>
	</dict>
	<key>KLInfo_Irish</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.irish</string>
		<key>TISIntendedLanguage</key>
		<string>ga</string>
	</dict>
	<key>KLInfo_Italian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.italian</string>
		<key>TISIntendedLanguage</key>
		<string>it</string>
	</dict>
	<key>KLInfo_Italian - Pro</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.italian-pro</string>
		<key>TISIntendedLanguage</key>
		<string>it</string>
	</dict>
	<key>KLInfo_Norwegian</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.norwegian</string>
		<key>TISIntendedLanguage</key>
		<string>no</string>
	</dict>
	<key>KLInfo_Portuguese</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.portuguese</string>
		<key>TISIntendedLanguage</key>
		<string>pt</string>
	</dict>
	<key>KLInfo_Spanish</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.spanish</string>
		<key>TISIntendedLanguage</key>
		<string>es</string>
	</dict>
	<key>KLInfo_Spanish - ISO</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.spanish-iso</string>
		<key>TISIntendedLanguage</key>
		<string>es</string>
	</dict>
	<key>KLInfo_Swedish</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.swedish</string>
		<key>TISIntendedLanguage</key>
		<string>sv</string>
	</dict>
	<key>KLInfo_Swedish - Pro</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.swedish-pro</string>
		<key>TISIntendedLanguage</key>
		<string>sv</string>
	</dict>
	<key>KLInfo_Swiss French</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.swissfrench</string>
		<key>TISIntendedLanguage</key>
		<string>fr-CH</string>
	</dict>
	<key>KLInfo_Swiss German</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.swissgerman</string>
		<key>TISIntendedLanguage</key>
		<string>de-CH</string>
	</dict>
	<key>KLInfo_U.S.</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.roman.u.s.</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
</dict>
</plist>
